#pagamento {
    padding-block: 2rem;
}

#pagamento p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}

#pagamento img {
    width: 5rem;
}

@media (min-width: 1080px) {
    section#pagamento .content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}